::ng-deep .mat-simple-snackbar-action {
    color: white;
}

::ng-deep .style-error {
    color: white;
    background-color: red;
}

::ng-deep .style-succes {
    color: white;
    background-color: green;
}

.mat-card-actions {
    margin-bottom: 0;
}

.mat-card-content {
    margin-bottom: 0;
}

mat-divider {
    width: 250px !important;
    margin: 0 auto;
    position: unset !important;
    left: unset !important;
}