<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Anti Bubble</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<body>
    <div class="containerDiv" fxLayoutGap="0.5%" fxLayout="column" fxLayoutAlign="space-evenly">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Wachtwoord Vergeten</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="example-form" [formGroup]="passwordRecoveryForm" (ngSubmit)="sendEmail()">
                    <table class="example-full-width" class="UItable">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" formControlName="email" type="email" required>
                                    <mat-error
                                        *ngIf="passwordRecoveryForm.get('email').hasError('email') && !passwordRecoveryForm.get('email').hasError('required')">
                                        Vul een geldig emailadres in
                                    </mat-error>
                                    <!-- <mat-error *ngIf="passwordRecoveryForm.get('email').hasError('required')">
                                        Email is <strong>verplicht</strong>
                                    </mat-error> -->
                                </mat-form-field>
                            </td>
                        </tr>
                        <!-- <tr>
                            *Velden met een (*) zijn verplicht.
                        </tr> -->
                    </table>
                    <mat-card-actions>
                        <button mat-raised-button type="submit" [disabled]="!passwordRecoveryForm.valid"
                            color="primary">Stuur Email</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>

            <button mat-button [routerLink]="'/login'">Terug naar login</button>

        </mat-card>
    </div>
</body>

<footer>
    <p> &copy; Utrecht University (ICS)</p>
</footer>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->