<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false">
        <mean-sidenav (sidenavClose)="sidenav.close()"></mean-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mean-toolbar (sidenavToggle)="sidenav.toggle()"></mean-toolbar>
        <body>
            <div class="container-div" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
                    <mat-card fxFlex="50%">
                        <mat-card-header>
                            <mat-card-title>Profiel</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <table class="classmate-profile-table">
                                <tr>
                                    <td class="top-data">Gebruikersnaam</td>
                                    <td>{{ classmate?.firstName }}</td>
                                </tr>
                                <tr>
                                    <td class="top-data">E-mail adres</td>
                                    <td>{{ classmate?.email }}</td>
                                </tr>
                                <tr>
                                    <td class="top-data">Klas</td>
                                    <td>{{ classmateClassTitle }}</td>
                                </tr>
                            </table>
                        </mat-card-content>
                    </mat-card>

                    <mat-card fxFlex="50%">
                        <mat-card-header>
                            <mat-card-title>Avatar</mat-card-title>
                        </mat-card-header><br>
                        <img mat-card-image
                            src="https://image.freepik.com/vrije-vector/jonge-vrouw-avatar-cartoon-karakter-profielfoto_18591-55056.jpg"
                            alt="avatar voorbeeld">
                    </mat-card>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <mat-card fxFlex="100%">
                        <mat-card-header>
                            <mat-card-title>Bubbel van {{ classmate?.firstName }}</mat-card-title>
                        </mat-card-header><br>
                        <img mat-card-image
                            src="https://f1.pngfuel.com/png/724/363/759/cartoon-speech-bubble-soap-bubble-speech-balloon-pink-circle-material-property-sphere-magenta-png-clip-art.png"
                            alt="bubbel voorbeeld">
                    </mat-card>
                </div>
            </div>
        </body>
        <footer class="footer">
            <p> &copy; Utrecht University (ICS)</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>