/*
 * This program has been developed by students from the bachelor Computer Science at Utrecht University
 * within the Software Project course. © Copyright Utrecht University (Department of Information and
 * Computing Sciences)
 */

.profile-table {
    border-spacing: 20px 0;
    margin: 0 auto;
}

.profile-table td {
    text-align: left;
    padding: 5px 0;
}

.profile-table .top-data {
    font-weight: bold;
}

@media (max-width: 900px) {
    .profile-table td {
        display: table-row;
    }
}

.change-password-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 700px) {
    .change-password-accordion mat-panel-description {
        display: none;
    }
}

.accept-changes-button {
    background-color: #039be5;
    color: white;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-right: 10px;
}