<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mean-not-logged-in-toolbar></mean-not-logged-in-toolbar>
<body>
    <div class="container-div" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Registreren</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form name="registerForm" class="example-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
                    <table class="general-table">
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label>Voornaam</mat-label>
                                    <input matInput placeholder="Voornaam" formControlName="firstName" required>
                                    <mat-error *ngIf="registerForm.get('firstName').hasError('required')">
                                        Voornaam is <strong>verplicht</strong>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label>Achternaam</mat-label>
                                    <input matInput placeholder="Achternaam" formControlName="lastName" required>
                                    <mat-error *ngIf="registerForm.get('lastName').hasError('required')">
                                        Achternaam is <strong>verplicht</strong>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" formControlName="email" required>
                                    <mat-error
                                        *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">
                                        Vul een geldig emailadres in
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                                        Email is <strong>verplicht</strong>
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.get('email').hasError('emailTaken')">
                                        Er bestaat al een account met dit emailadres
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label>Wachtwoord</mat-label>
                                    <input matInput placeholder="Wachtwoord" formControlName="password" type=password
                                        required>
                                    <mat-error *ngIf="registerForm.get('password').hasError('required')">
                                        Wachtwoord is <strong>verplicht</strong>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label>Herhaal wachtwoord</mat-label>
                                    <input matInput placeholder="Herhaal wachtwoord" formControlName="repeatPassword"
                                        type=password required>
                                    <mat-error *ngIf="registerForm.get('repeatPassword').hasError('noPasswordMatch')">
                                        Wachtwoorden komen niet overeen
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-label>Ik ben een:*</mat-label>
                                <mat-radio-group class="role-radio-group" ngDefaultControl formControlName="role">
                                    <mat-radio-button class="role-radio-button" value="student" color="primary">Leerling
                                    </mat-radio-button>
                                    <mat-radio-button class="role-radio-button" value="teacher" color="primary">Docent
                                    </mat-radio-button>
                                </mat-radio-group>
                            </td>
                        </tr>
                        <tr>
                            Velden met een (*) zijn verplicht.
                        </tr>
                    </table>
                    <mat-card-actions>
                        <button mat-button class="general-button" type="submit" [disabled]="!registerForm.valid" color="primary">Registreer</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</body>

<footer class="footer">
    <p> &copy; Utrecht University (ICS)</p>
</footer>


<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->