<mat-card>
    <img id="leftHalf" mat-card-image  src="/assets/images/Super_Map/Bubble_UI/UI_Bubble_Half_Blue.png">
    <img id="rightHalf" mat-card-image src="/assets/images/Super_Map/Bubble_UI/UI_Bubble_Half_Orange.png">
    <img id="leftOrb" mat-card-image   src="/assets/images/Super_Map/Bubble_UI/UI_Bubble_Full_Blue.png">
    <img id="rightOrb" mat-card-image  src="/assets/images/Super_Map/Bubble_UI/UI_Bubble_Full_Orange.png">
    <img id="overlay" mat-card-image   src="/assets/images/Super_Map/Bubble_UI/UI_Bubble_Lens.png">
</mat-card>
