.mat-card {
    position: relative;
    height: 200px;
    margin: auto;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
}

.mat-card img {
    position: absolute;
    width: 175px;
    height: 175px;
    margin-top: 10px;
    margin-left: -86px;
    opacity: 0.5;
}

#overlay {
    opacity: 1;
}