<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-card>
    <img id="leftHalf" mat-card-image  src="/assets/images/Super_Map/Bubble_UI/UI_Bubble_Blue.png" alt="">
    <img id="rightHalf" mat-card-image src="/assets/images/Super_Map/Bubble_UI/UI_Bubble_Orange.png" alt="">
    <img id="overlay" mat-card-image   src="/assets/images/Super_Map/Bubble_UI/UI_Bubble_Lens.png" alt="">
</mat-card>