#doolhof {
    height: 350px;
    width: 350px;
}

#question {
    font-size: 45px;
    margin-bottom: 0px;
}

.radioButtonOptions {
    display: inline-block;
    margin: 20px;
    padding: 10px;
}

#stopButton {
    right: 3%;
    top: 10%;
    float: right;
    width: 50px;
    position: absolute;
}

mat-radio-button {
    float: left;
}