/*
 * This program has been developed by students from the bachelor Computer Science at Utrecht University
 * within the Software Project course. © Copyright Utrecht University (Department of Information and
 * Computing Sciences)
 */

#doolhof {
    height: 350px;
    width: 350px;
}

#question {
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 5px;
}

.radioButtonOptions {
    display: inline-block;
    margin: 15px;
}

.radioButton {
    text-align: center;
    margin: 3px 0 3px 3px;
}

#stopButton {
    right: 3%;
    top: 4%;
    float: right;
    width: 50px;
    position: absolute;
}

mat-radio-button {
    float: left;
}