/*
 * This program has been developed by students from the bachelor Computer Science at Utrecht University
 * within the Software Project course. © Copyright Utrecht University (Department of Information and
 * Computing Sciences)
 */

#doolhof {
    height: 350px;
    width: 350px;
}

@media (max-width: 600px) {
    #doolhof {
        height: 250px;
        width: 250px;
    }

    #question {
        font-size: 24px !important;
    }

    #desktop-stop-button {
        display: none;
    }

    #radio-button-options {
        flex-direction: column !important;
    }
}

#question {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 5px;
}

.radio-button-options {
    display: inline-block;
    margin: 15px;
}

.radio-button {
    text-align: center;
    margin: 3px 0 3px 3px;
}

.stop-button {
    background-color: red;
    color: white;
    border-radius: 15px;
    width: 90px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

#desktop-stop-button {
    right: 3%;
    top: 4%;
    float: right;
    position: absolute;
}

mat-radio-button {
    float: left;
}
/** This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  */
