<form [formGroup]="getAnswerForm" (ngSubmit)="sendAnswer()">
    <mat-form-field class="example-full-width">
        <mat-label>Vul hier je antwoord in</mat-label>
        <textarea matInput formControlName="getAnswer" placeholder="[antwoord]" [(ngModel)]="value"></textarea>
    </mat-form-field><br>
    <button mat-raised-button type="submit">Verstuur</button>
</form>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->