/* the following things define the toolbar*/
#logoutButton {
    color: black;
    background-color: lightskyblue;
    position: sticky;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    right: 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 100%;
}

.navBarAng {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navBarAng div {
    display: fixed;
    flex: 1 1 auto;
    text-align: center;
}

.navitems button {
    padding-left: 30px;
    padding-right: 30px;

    color: white;
}

.navBarAng button:hover {
    color:  #fbe0d0;
}

.logo {
    text-decoration: underline;
    text-decoration-color:  #fbe0d0;
    position: absolute;
}


/* the following code will describe the rest of the (angular) page */
body {
    /* background-image: url("../../favicon.ico"); */
    /* background-image: url("../../assets/images/oud/background.png"); */
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-size: auto;  

    display: flex;
    justify-content: center;
    align-items: center; 
}

.containerDiv {
    height: 100%;
    width: 80%;
    justify-content: center;
    text-align: center;
    align-items: center; 
    background-color: #addadb;
}

mat-card {
    background-color: #fffcf3;
    border: 5px solid #fceca9;
    position: relative;
}

mat-card-header {
    display: inline-block;
}

mat-card button{
    background-color: #addadb;
    width: 40%;
}

mat-card img{
    object-fit: cover; 
    width: 50%; 
    height: width;
}

mat-tab-group, mat-tab {
    text-align: center;
    justify-content: center;
    align-items: center; 
    display: flex;
}

.UItable {
    display: inline-block;
}

.UItable th, td {
    text-align: left;
    padding: 10px;    
}

.sessionTable, .submitTable {
    display: inline-block;
}

.sessionTable, .submitTable th, td {
    padding: 10px;
}

.timeLeft{
    top: 10%;
    left: 3%;
    float: right;
    position: absolute;
    z-index: 100;
}

::ng-deep .mat-simple-snackbar-action {
    color: white;
}

::ng-deep .style-error {
    color: white;
    background-color: red;
}

::ng-deep .style-succes {
    color: white;
    background-color: green;
}
.bubbleImage {
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    z-index: 1;
}

/* Apply this id for blue buttons designed by the artists */
#artisticButtonBlue {
    width: 40%;
    background: transparent;
    background-image: url("/assets/images/Super_Map/Basic_Buttons/Button_Blue_Rectangle.png");
    background-repeat: round;
}

::ng-deep .style-warning {
    color: black;
    background-color: yellow;
}

::ng-deep .style-warning .mat-simple-snackbar-action {
    color: black;
}
