/*
 * This program has been developed by students from the bachelor Computer Science at Utrecht University
 * within the Software Project course. © Copyright Utrecht University (Department of Information and
 * Computing Sciences)
 */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.mat-card-title, .mat-card-subtitle {
    font-family: 'Fredoka One', cursive;
    /* NOTE: text-fill-color paints the text once more over the actual text. This can have unwanted side effects that should be fixed in local css */
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px #41596c;
    paint-order: fill stroke;
    text-shadow: 1px 1px #41596c;
    color: white;
    font-size: 40px;
}

.mat-card-subtitle {
    font-size: 20px;
}

body {
    background-color: #addadb;
    text-align: center;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-div {
    height: 100%;
    width: 80%;
    text-align: center;
    background-color: #addadb;
    margin: 10px 0;
}

@media (max-width: 600px) {
    .container-div {
        width: 90%;
    }
}

mat-card {
    background-color: #fff2f3;
    border: 5px solid #dd6d59;
    position: relative;
}

mat-card-header {
    display: inline-block;
}

.general-link,
.general-button {
    color: white;
    background: transparent url("../../assets/images/Super_Map/Basic_Buttons/Button_Red_rectangle.png") round;
}

.general-table {
    display: inline-block;
}

.general-table th,
.general-table td {
    text-align: left;
    padding: 10px;
}

.footer {
    text-align: center;
}

.general-nope-button {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}