.welcomeHeader{
    font-size: xx-large;
}

.shopCardStyle {
    /* background-color: rgba(255 , 255, 255, 0.8); */
    background-color: seashell;
}

mat-card-title {
   font-size: medium;
}

/* mat-card-img {
    width: 100%;
} */

::ng-deep .mat-simple-snackbar-action {
    color: white;
}

::ng-deep .style-error {
    color: white;
    background-color: red;
}

::ng-deep .style-succes {
    color: white;
    background-color: green;
}
