<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false">
        <mean-sidenav (sidenavClose)="sidenav.close()"></mean-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mean-toolbar (sidenavToggle)="sidenav.toggle()"></mean-toolbar>
        <body>
            <div class="container-div" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title  >Winkel</mat-card-title>
                    </mat-card-header><br>
                    <mat-card-content class="currency">
                        Aantal munten <br>
                        <b>{{ userDetails?.currency }}</b>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-content>
                        <mat-grid-list cols="8" gdAlignRows="space-evenly">
                            <mat-grid-tile><button mat-button class="category-change-button" (click)="tabChange('Hoofddeksel')"   id="buttonHoofddeksel"  [disableRipple]="true"></button></mat-grid-tile>
                            <mat-grid-tile><button mat-button class="category-change-button" (click)="tabChange('Haar')"          id="buttonHaar"         [disableRipple]="true"></button></mat-grid-tile>
                            <mat-grid-tile><button mat-button class="category-change-button" (click)="tabChange('Bril')"          id="buttonBril"         [disableRipple]="true"></button></mat-grid-tile>
                            <mat-grid-tile><button mat-button class="category-change-button" (click)="tabChange('Shirt')"         id="buttonShirt"        [disableRipple]="true"></button></mat-grid-tile>
                            <mat-grid-tile><button mat-button class="category-change-button" (click)="tabChange('Broek')"         id="buttonBroek"        [disableRipple]="true"></button></mat-grid-tile>
                            <mat-grid-tile><button mat-button class="category-change-button" (click)="tabChange('Schoenen')"      id="buttonSchoenen"     [disableRipple]="true"></button></mat-grid-tile>
                            <mat-grid-tile><button mat-button class="category-change-button" (click)="tabChange('Medaille')"      id="buttonMedaille"     [disableRipple]="true"></button></mat-grid-tile>
                        </mat-grid-list>

                        <mat-grid-list cols="5" gutterSize="10px">
                            <mat-grid-tile *ngFor = "let item of filteredShop" fxFlexAlign="stretch">
                                <mat-card fxLayout="column" fxFlexAlign="stretch">
                                    <mat-card-subtitle fxFlex="10%">{{ item.title }}</mat-card-subtitle>
                                    <div fxFlex="60%">
                                        <img mat-card-image src="{{ item.previewImage }}" alt="{{ item.title }}">
                                    </div>
                                   <mat-card-footer fxFlex="10%">
                                        <button mat-button (click)="buy(item)" class="shop-buy-button">{{ item.price }} <mat-icon>payment</mat-icon></button>
                                   </mat-card-footer>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </body>
        <footer class="footer">
            <p> &copy; Utrecht University (ICS)</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->