.welcomeHeader {
    font-size: xx-large;
}

.currency {
    font-size: larger;
}

mat-card-title {
   font-size: medium;
}

.shop-buy-button {
    width: 40%;
    background: transparent url("../../../assets/images/ Super_Map/Basic_Buttons/Button_blue_Rectangle.png") round;
}

.category-change-button {
    height: 75%;
    width: 75%;
    padding: 0;
    min-width: unset;
}

mat-card img {
    margin-top: 0;
    height: 100%;
    width: 60%;
}

#buttonHoofddeksel {
    background: transparent url("../../../assets/images/ Super_Map/Shop_UI/Button_Hats.png") round;
}

#buttonHaar {
    background: transparent url("../../../assets/images/ Super_Map/Shop_UI/Button_Hair.png") round;
}

#buttonBril {
    background: transparent url("../../../assets/images/ Super_Map/Shop_UI/Button_Glasses.png") round;
}

#buttonLichaam {
    background: transparent url("../../../assets/images/ Super_Map/Shop_UI/Button_Skincolor.png") round;
}

#buttonShirt {
    background: transparent url("../../../assets/images/ Super_Map/Shop_UI/Button_Shirt.png") round;
}

#buttonBroek {
    background: transparent url("../../../assets/images/ Super_Map/Shop_UI/Button_Pants.png") round;
}

#buttonSchoenen {
    background: transparent url("../../../assets/images/ Super_Map/Shop_UI/Button_Shoes.png") round;
}

#buttonMedaille {
    background: transparent url("../../../assets/images/ Super_Map/Shop_UI/Button_Medals.png") round;
}