<mean-nav-bar></mean-nav-bar>

<body>
    <div class="containerDiv" fxLayoutGap="0.5%" fxLayout="column" fxLayoutAlign="space-evenly">
        <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
            <mat-card fxFlex="100%">
                <mat-card-header>
                    <mat-card-title class="welcomeHeader">Winkel</mat-card-title>
                </mat-card-header>
                <mat-card-content>
    
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
            <mat-card>
                <!-- <button mat-button (click)="getShopItems()">Update</button> -->
                <!-- <button mat-button (click)="addItem()">Voeg toe!</button> -->
                <!-- <div id="shopAnchor"> </div> -->
            </mat-card>
        </div>
    </div>
</body>

<footer>
    <p> &copy; Utrecht University (ICS)</p>
</footer>