<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false" fixedInViewport="true">
        <mean-sidenav (sidenavClose)="sidenav.close()"></mean-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mean-toolbar (sidenavToggle)="sidenav.toggle()"></mean-toolbar>

        <body>
        <div class="container-div" fxLayout="column" fxLayoutGap="10px">
            <div fxLayout.xs="row" fxLayoutGap="10px">
                <mat-card fxFlex="100%">
                    <mat-card-header>
                        <mat-card-title>Welkom!</mat-card-title>
                        <mat-card-subtitle>
                            Breaking Bubbles is een online webpagina waar leerlingen zich bewust kunnen worden van
                            hun filterbubbel.<br>
                            Dit wordt bereikt door middel van lessen die in de klas met de docent worden
                            afgenomen.
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content *ngIf="userDetails?.role == 'teacher'">
                        <button mat-button class="general-link" [routerLink]="'/session-options'"> Kies Activiteit</button>
                    </mat-card-content>
                    <mat-card-content class="join-session" *ngIf="userDetails?.role == 'student' && userDetails?.bubbleInit">
                        <form [formGroup]="joinSessionForm">
                            <mat-form-field>
                                <input matInput formControlName="pin" placeholder="Sessie code" type="text" maxlength="6" (keypress)="check($event)"
                                       (paste)="$event.preventDefault()">
                            </mat-form-field>
                            <button mat-button class="general-button" (click)="joinSession()">Deelnemen aan sessie</button>
                        </form>
                    </mat-card-content>
                    <mat-card-content *ngIf="userDetails?.role == 'student' && !userDetails?.bubbleInit">
                        <button mat-button class="general-link" [routerLink]="'/labyrinth'"> Start Dwalende Doolhof</button>
                    </mat-card-content>
                </mat-card>
            </div>

            <div fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
                <mat-card fxFlex="33%">
                    <mat-card-header>
                        <mat-card-title>Klas updates</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

                <mat-card fxFlex="33%">
                    <mat-card-header>
                        <mat-card-title>Scorebord</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <table class="general-table">
                            <tr *ngFor="let milestone of userDetails?.recentMilestones; let i = index;">
                                <td>{{ userDetails?.recentMilestones[4 - i] }}</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card fxFlex="33%">
                    <mat-card-header>
                        <mat-card-title>Aantal munten</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="number">
                        {{ userDetails?.currency }}
                    </mat-card-content>
                    <a mat-button class="general-link" [routerLink]="'/shop'">Ga naar winkel</a>
                </mat-card>
            </div>
        </div>
        </body>
        <footer class="footer">
            <p> &copy; Utrecht University (ICS)</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
