<mat-toolbar color="primary" class="navBarAng">
    <mat-toolbar-row>
        <span class="logo">Anti Bubble</span>

        <div class="navitems">
            <a mat-button [routerLink]="'/home'"> Home </a>
            <a mat-button [routerLink]="'/home'"> Weer home </a>
            <a mat-button [routerLink]="'/home'"> Ook home </a>
            <a mat-button [routerLink]="'/profile'"> Profiel </a>
        </div>

        <a mat-button id="logoutButton" (click)="logoutButton()"> Log uit </a>
    </mat-toolbar-row>
</mat-toolbar>

<body>
    <mat-card class="bodyDiv">
        <mat-card-header class="matCardHeader">
            <mat-card-title>Breaking Bubbles</mat-card-title>
            <mat-card-subtitle>
                Breaking Bubbles is een online webpagina waar leerlingen zich bewust kunnen worden van hun filterbubbel.<br>
                Dit wordt bereikt door middel van lessen die in de klas met de docent(e) worden afgenomen.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <a mat-button id="createSessionButton" (click)="createSession()"> Create Session </a>
        </mat-card-content>
        <mat-accordion >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Join session
                    </mat-panel-title>
                    <mat-panel-description>
                        Join session with code
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form name="joinSession" [formGroup]="joinSessionForm" (ngSubmit)="joinSession()">
                    <table align="center">
                        <tr>
                            <mat-form-field class="example-full-width">
                                <mat-label>Session code</mat-label>
                                <input matInput type="number" formControlName="sessionCode">
                            </mat-form-field>
                        </tr>
                    </table>
                    <button mat-raised-button type="submit" [disabled]="!joinSessionForm.valid" color="primary">Join session</button>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</body>
<footer>
    <p> &copy; Utrecht University (ICS)</p>
</footer>