/* .bubbleIcon {
    height: 250px;
    width: 250px;
}

#iconLeft {
    position: relative;
    float: left;
}

#iconRight {
    position: relative;
    float: right;
} */

#sessionButton {
    font-size: 20px;
    margin-top: 20px;
    color: white;
    background-color: purple;
    height: 75px;
    width: 250px;
    border-radius: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
