/*
 * This program has been developed by students from the bachelor Computer Science at Utrecht University
 * within the Software Project course. © Copyright Utrecht University (Department of Information and
 * Computing Sciences)
 */

/* .welcomeHeader{
    font-size: 40px;
} */

.profileTable th, td {
    text-align: left;
    padding: 10px;
}

.number{
    font-size: 70px;
}

.join-session {
    display: flex;
    width: 200px;
    flex-direction: column;
    margin: 0 auto;
}

/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  */
