<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false">
        <mean-sidenav (sidenavClose)="sidenav.close()"></mean-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mean-toolbar (sidenavToggle)="sidenav.toggle()"></mean-toolbar>
        <body>
            <div class="container-div" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">
                <div fxLayout.xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
                    <mat-card fxFlex="100%">
                        <mat-card-header>
                            <mat-card-title>Alle badges</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            Je hebt nu {{ completedRatio() }}% van alle badges behaald.<br>
                            <mat-progress-bar mode="determinate" role="progressbar" class="progress-bar" value="{{ value }}" aria-valuemin="0" aria-valuemax="100">=</mat-progress-bar>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div fxLayout.xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
                    <mat-card fxFlex="100%">
                        <mat-card-content>
                            <mat-tab-group>
                                <mat-tab label="Behaald">
                                    <table class="general-table">
                                        <tr >
                                            <td *ngFor="let milestoneCompleted of completed">
                                                <strong>{{ milestoneCompleted.milestone.name }}</strong><br>
                                                {{ milestoneCompleted.milestone.description }}
                                            </td>
                                        </tr>
                                    </table>
                                </mat-tab>

                                <mat-tab label="Te behalen">
                                    <table class="general-table">
                                        <tr>
                                            <td  *ngFor="let milestoneCompleted of uncompleted">
                                                <strong>{{ milestoneCompleted.milestone.name }}</strong><br>
                                                {{ milestoneCompleted.milestone.description }}<br>
                                                <i>Voortgang: {{ userDetails?.milestones[milestoneCompleted.index] }}/{{ milestoneCompleted.milestone.maxValue }}</i>
                                            </td>
                                        </tr>
                                    </table>
                                </mat-tab>
                            </mat-tab-group>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </body>
        <footer class="footer">
            <p> &copy; Utrecht University (ICS)</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->
