.progress-bar {
    width: 50%;
    display: inline-block;
}

.general-table {
    padding: 10px;
    border-spacing: 70px 0;
    margin: 10px;
}

.general-table td{
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 150px;
}

mat-tab-group,
mat-tab {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
