<body>
    <div class="containerDiv" fxLayoutGap="0.5%" fxLayout="column" fxLayoutAlign="space-evenly">
        <mat-card>
            <div class="content">
                <mat-card-header>
                    <p>Ik ben een:</p>
                </mat-card-header><br>
                <button mat-button [routerLink]="'/login'">Leerling</button>
                <button mat-button [routerLink]="'/login'">Docent</button>
            </div>
        </mat-card>
    </div>
</body>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->