<mean-nav-bar></mean-nav-bar>

<body>
    <div class="containerDiv" fxLayoutGap="0%" fxLayout="column" fxLayoutAlign="space-evenly">
        <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
            <mat-card fxFlex="100%">
                <mat-card-header>
                    <mat-card-title>Alle trofeeën</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    Je hebt nu 44% van alle trofeeën behaald.<br>
                    <mat-progress-bar mode="determinate" value=50 class="progressBar">=</mat-progress-bar>
                    <!--  value moet worden aangepast naar progressbar() return waarde, kan pas als er een ng-for loop is bij de tables -->
                </mat-card-content>
            </mat-card>
        </div>

        <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
            <mat-card fxFlex="100%">
                <mat-card-content>
                    <mat-tab-group (selectedTabChange)="progressBar()" id="matTab">
                        <!-- voor nu even zo, percentage klopt maar het moment van berekenen niet -->
                        <mat-tab label="Behaald">
                            <table class="UItable" id="achievedTable">
                                <tr>
                                    <td><strong>Beginner</strong><br>
                                        Voor het eerst een minigame gespeeld</td>
                            
                                    <td><strong>Kleine Spaarder</strong><br>
                                        10 munten verzameld</td>
                       
                                    <td><strong>Gierige Gerrie</strong><br>
                                        1 item uit de shop gekocht</td>
                          
                                    <td><strong>Nieuwsgierige Niels</strong><br>
                                        Gekeken naar je bubbel geschiedenis</td>
                                </tr>
                            </table>
                        </mat-tab>

                        <mat-tab label="Te behalen">
                            <table class="UItable" id="notYetAchievedTable">
                                <tr>
                                    <td><strong>Shoppaholic</strong><br>
                                    Alle items uit de shop gekocht</td>
                             
                                    <td><strong>Het glas is halfvol</strong><br>
                                    50% kennis over filter bubbels behaald</td>
                               
                                    <td><strong>Snelheidsmonster</strong><br>
                                    Als snelste een minigame geëindigd</td>
                               
                                    <td><strong>Money Maker</strong><br>
                                    100 munten verzameld</td>
                              
                                    <td><strong>3/4 Trofee</strong><br>
                                    75% van al je trofeeën behaald</td>

                                    <td><strong>Kleding Wissel</strong><br>
                                    Je avatar gepersonaliseerd</td>
                                </tr>
                            </table>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>

        <button mat-button [routerLink]="'/profile'">
            <mat-icon>keyboard_backspace</mat-icon> Terug naar profiel
        </button>


    </div>
</body>