<mean-nav-bar></mean-nav-bar>

<body>
    <div class="containerDiv" fxLayoutGap="0%" fxLayout="column" fxLayoutAlign="space-evenly">
        <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
            <mat-card fxFlex="100%">
                <mat-card-header>
                    <mat-card-title>Alle trofeeën</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    Je hebt nu {{completedRatio()}}% van alle trofeeën behaald.<br>
                    <mat-progress-bar mode="determinate" role="progressbar" class="progressBar" value="{{value}}" aria-valuemin="0" aria-valuemax="100">=</mat-progress-bar>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
            <mat-card fxFlex="100%">
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Behaald">
                            <table class="UItable">
                                <tr *ngFor="let milestoneCompleted of completed">
                                    <th>{{milestoneCompleted.milestone.name}}</th>
                                    <td>{{milestoneCompleted.milestone.description}}</td>
                                </tr>
                            </table>
                        </mat-tab>

                        <mat-tab label="Te behalen">
                            <table class="UItable">
                                <tr *ngFor="let milestoneCompleted of uncompleted">
                                    <th>{{milestoneCompleted.milestone.name}}</th>
                                    <td>{{milestoneCompleted.milestone.description}}</td>
                                    <td>Voortgang: {{userDetails?.milestones[milestoneCompleted.index]}}/{{milestoneCompleted.milestone.maxValue}}</td>
                                </tr>
                            </table>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>


        <button mat-button [routerLink]="'/profile'">
            <mat-icon>keyboard_backspace</mat-icon> Terug naar profiel
        </button>


    </div>
</body>