<mean-nav-bar></mean-nav-bar>

<body>

    <div class="containerDiv" fxLayoutGap="0.2%" fxLayout="row" fxLayoutAlign="space-evenly">
        <!-- <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly"> -->
            <mat-card fxFlex="30%" class="avatarImage">
                <mat-card-header>
                    <mat-card-title>Avatar Wijzigen</mat-card-title>
                </mat-card-header><br>
                
                <mat-card class="avatarDisplay"><img mat-card-image id="haar1"></mat-card>
                <mat-card class="avatarDisplay"><img mat-card-image id="lichaam"></mat-card>
                <mat-card class="avatarDisplay"><img mat-card-image id="broek"></mat-card>
                <mat-card class="avatarDisplay"><img mat-card-image id="shirt"></mat-card>
                <mat-card class="avatarDisplay"><img mat-card-image id="schoenen"></mat-card>
                <mat-card class="avatarDisplay"><img mat-card-image id="bril"></mat-card>
                <mat-card class="avatarDisplay"><img mat-card-image id="haar2"></mat-card>
                <mat-card class="avatarDisplay"><img mat-card-image id="hoofddeksel"></mat-card>
                <mat-card class="avatarDisplay"><img mat-card-image id="medaille"></mat-card>              
                
            </mat-card>
       <!--  </div> -->

        <!-- <div fxLayout.xs="row"  fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">  -->
            <mat-card  id="itemCollection" fxFlex="70%"> 
                <mat-card-content>
                    <mat-tab-group (selectedTabChange)="tabChange($event)">
                        <mat-tab label="Haar"></mat-tab>
                        <mat-tab label="Lichaam"></mat-tab>
                        <mat-tab label="Broek"></mat-tab>
                        <mat-tab label="Shirt"></mat-tab>
                        <mat-tab label="Schoenen"></mat-tab>
                        <mat-tab label="Bril"></mat-tab>
                        <mat-tab label="Hoofddeksel"></mat-tab>
                        <mat-tab label="Medaille"></mat-tab>
                    </mat-tab-group>
                    <mat-grid-list cols="2">
                        <mat-grid-tile *ngFor = "let item of filteredAvatar" fxFlexAlign="stretch">
                            <mat-card fxFlex="100%" fxLayout="column" fxLayoutGap="0.5%" fxFlexAlign="stretch" class="avatarDisplay">
                                    {{item.title}}
                                    <img mat-card-image src="{{item.previewImage}}" alt="{{item.title}}" (click)="equip(item)"><br>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list> 
                </mat-card-content>
            </mat-card>
        <!-- </div> -->

        <button mat-button [routerLink]="'/profile'">
            <mat-icon>keyboard_backspace</mat-icon> Terug naar profiel
        </button>
    </div>
</body>