/* mat-card img mat-card-image{
    object-fit: cover; 
    width: 10%; 
    height: width;
} */

.UItable {
    padding: 10px;
    border-spacing: 70px 0;
    margin: 10px;
}

.UItable td{
    padding: 25px;
    text-align: center;
    display: inline-block;
}

.UItable img {
    object-fit: cover;
    width: 100px;
    height: width;
    padding: 20px;
}
