.UItable {
    padding: 10px;
    border-spacing: 70px 0;
    margin: 10px;
}

.UItable td{
    padding: 25px;
    text-align: center;
    display: inline-block;
}

.UItable img {
    object-fit: cover;
    width: 100px;
    height: width;
    padding: 20px;
}

.avatarItemDisplay {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
}

#buttonHoofddeksel{
    background-image: url("/assets/images/Super_Map/Shop_UI/Button_Hats.png");
}

#buttonHaar {
    background-image: url("/assets/images/Super_Map/Shop_UI/Button_Hair.png");
}

#buttonBril {
    background-image: url("/assets/images/Super_Map/Shop_UI/Button_Glasses.png");
}

#buttonLichaam {
    background-image: url("/assets/images/Super_Map/Shop_UI/Button_Skincolor.png");
}

#buttonShirt {
    background-image: url("/assets/images/Super_Map/Shop_UI/Button_Shirt.png");
}

#buttonBroek {
    background-image: url("/assets/images/Super_Map/Shop_UI/Button_Pants.png");
}

#buttonSchoenen {
    background-image: url("/assets/images/Super_Map/Shop_UI/Button_Shoes.png");
}

#buttonMedaille {
    background-image: url("/assets/images/Super_Map/Shop_UI/Button_Medals.png");
}

.buttons {
    height:68%;
    background: transparent;
    background-repeat: round;
    color: transparent;
}