<mat-toolbar color="primary" class="navBarAng">
    <mat-toolbar-row>
        <span class="logo">Anti Bubble</span>

        <div class="navitems">
            <a mat-button [routerLink]="'/home'"> Home </a>
            <a mat-button [routerLink]="'/class-overview'"> Klas Overzicht </a>
            <a mat-button [routerLink]="'/home'"> Uitleg </a>
            <a mat-button [routerLink]="'/profile'"> Profiel </a>
        </div>

        <a mat-button id="logoutButton" (click)="logoutButton()"> Log uit </a>
    </mat-toolbar-row>
</mat-toolbar>


<body>
    <div class="containerDiv">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Avatar Wijzigen</mat-card-title>
            </mat-card-header><br>    
        <img mat-card-image
        src="https://image.freepik.com/vrije-vector/jonge-vrouw-avatar-cartoon-karakter-profielfoto_18591-55056.jpg"
        alt="avatar voorbeeld">
    <mat-card-content>
        <a mat-button [routerLink]="'/avatar'" class='abutton'>Wijzigingen Opslaan</a>
    </mat-card-content>
</mat-card>

        
        <button mat-button [routerLink]="'/profile'"> <mat-icon>keyboard_backspace</mat-icon> Terug naar profiel</button>
    </div>
</body>