.UItable {
    padding: 10px;
    border-spacing: 70px 0;
    margin: 10px;
}

.UItable td{
    padding: 25px;
    text-align: center;
    display: inline-block;
}

.UItable img {
    object-fit: cover;
    width: 100px;
    height: width;
    padding: 20px;
}

.avatarImage{
    position: sticky;
    top: 0;
}

.avatarDisplay {
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    z-index: 1;
}