<mean-nav-bar></mean-nav-bar>

<body>

    <div class="containerDiv" fxLayoutGap="0.2%" fxLayout="column" fxLayoutAlign="space-evenly">
        <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
            <mat-card fxFlex="100%">
                <mat-card-header>
                    <mat-card-title>Avatar Wijzigen</mat-card-title>
                </mat-card-header><br>
                <img mat-card-image
                    src="https://image.freepik.com/vrije-vector/jonge-vrouw-avatar-cartoon-karakter-profielfoto_18591-55056.jpg"
                    alt="avatar voorbeeld">
            </mat-card>
        </div>

        <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
            <mat-card id="itemCollection" fxFlex="100%">
                <mat-tab-group (selectedTabChange)="tabChange($event)" dynamicHeight>
                    <mat-tab label="Huidskleur"></mat-tab>
                    <mat-tab label="Kleding">
                        <table class="UItable">
                            <tr>
                                <td *ngFor="let item of itemsShown">
                                    <ng-container *ngIf="item.category == 'kleding'">
                                        <img mat-card-image src="{{item.image}}" alt="{{item.title}}"><br>
                                        {{item.title}}
                                    </ng-container>
                                </td>
                            </tr>
                        </table>
                    </mat-tab>
                    <mat-tab label="Hoedjes">
                        <table class="UItable">
                            <tr>
                                <td *ngFor="let item of itemsShown">
                                    <ng-container *ngIf="item.category == 'hoofddeksel'">
                                        <img mat-card-image src="{{item.image}}" alt="{{item.title}}"><br>
                                        {{item.title}}
                                    </ng-container>
                                </td>
                            </tr>
                        </table>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>

        <mat-card>
            <mat-card-content>
                <button mat-button [routerLink]="'/profile'">Wijzigingen Opslaan</button>
            </mat-card-content>
        </mat-card>

        <button mat-button [routerLink]="'/profile'">
            <mat-icon>keyboard_backspace</mat-icon> Terug naar profiel
        </button>
    </div>
</body>