<mat-toolbar color="primary" class="navBarAng">
    <mat-toolbar-row fxLayoutAlign="start stretch" fxLayout="row">
        <!-- <span class="logo" fxFlex="25">Anti Bubble</span> -->

        <div class="navitems">
            <button mat-button [routerLink]="'/home'"> Home </button>
            <button *ngIf="userDetails?.role == 'teacher'" mat-button [routerLink]="'/teacher-overview'"> Klas Overzicht
            </button>
            <button *ngIf="userDetails?.role == 'student'" mat-button [routerLink]="'/class-overview'"> Klas Overzicht
            </button>
            <button mat-button [routerLink]="'/home'"> Uitleg </button>
            <button mat-button [routerLink]="'/profile'"> Profiel </button>
        </div>

    </mat-toolbar-row>
</mat-toolbar>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->