<mat-toolbar color="primary" class="navBarAng">
    <mat-toolbar-row>
        <span class="logo">Anti Bubble</span>

        <div class="navitems">
            <button mat-button [routerLink]="'/home'"> Home </button>
            <button mat-button [routerLink]="'/class-overview'"> Klas Overzicht </button>
            <button mat-button [routerLink]="'/home'"> Uitleg </button>
            <button mat-button [routerLink]="'/profile'"> Profiel </button>
        </div>

        <button mat-button (click)="logoutButton()"> Log uit </button>
    </mat-toolbar-row>
</mat-toolbar>