/*
 * This program has been developed by students from the bachelor Computer Science at Utrecht University
 * within the Software Project course. © Copyright Utrecht University (Department of Information and
 * Computing Sciences)
 */

mat-card-actions {
    margin-bottom: 0;
}

mat-card-content {
    margin-bottom: 0;
}

mat-divider {
    width: 250px !important;
    margin: 0 auto;
    position: unset !important;
    left: unset !important;
}

/** This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  */
