/* The following code alters the mat-cards to layer over each other and display the avatar.  */
.avatarDisplay {
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    /* z-index: 1; */
}