    <mat-card class="avatarDisplay"><img mat-card-image id="haar1"></mat-card>
    <mat-card class="avatarDisplay"><img mat-card-image id="lichaam"></mat-card>
    <mat-card class="avatarDisplay"><img mat-card-image id="broek"></mat-card>
    <mat-card class="avatarDisplay"><img mat-card-image id="shirt"></mat-card>
    <mat-card class="avatarDisplay"><img mat-card-image id="schoenen"></mat-card>
    <mat-card class="avatarDisplay"><img mat-card-image id="bril"></mat-card>
    <mat-card class="avatarDisplay"><img mat-card-image id="haar2"></mat-card>
    <mat-card class="avatarDisplay"><img mat-card-image id="hoofddeksel"></mat-card>
    <mat-card class="avatarDisplay"><img mat-card-image id="medaille"></mat-card>                   