/* The following code alters the mat-cards to layer over each other and display the avatar. */
.avatarDisplay {
    position: absolute;
    top: 35%;
    left: 5%;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    /* z-index: 1; */
}

/* mat-card img{
    width: 15%;
} */