<mat-card class="avatarDisplay"><img mat-card-image id="haar1" alt="" src=""></mat-card>
<mat-card class="avatarDisplay"><img mat-card-image id="lichaam" alt="" src=""></mat-card>
<mat-card class="avatarDisplay"><img mat-card-image id="broek" alt="" src=""></mat-card>
<mat-card class="avatarDisplay"><img mat-card-image id="shirt" alt="" src=""></mat-card>
<mat-card class="avatarDisplay"><img mat-card-image id="schoenen" alt="" src=""></mat-card>
<mat-card class="avatarDisplay"><img mat-card-image id="bril" alt="" src=""></mat-card>
<mat-card class="avatarDisplay"><img mat-card-image id="haar2" alt="" src=""></mat-card>
<mat-card class="avatarDisplay"><img mat-card-image id="hoofddeksel" alt="" src=""></mat-card>
<mat-card class="avatarDisplay"><img mat-card-image id="medaille" alt="" src=""></mat-card>