<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-card>
    <img mat-card-image id="haar1" alt="" src="">
    <img mat-card-image id="lichaam" alt="" src="">
    <img mat-card-image id="broek" alt="" src="">
    <img mat-card-image id="shirt" alt="" src="">
    <img mat-card-image id="schoenen" alt="" src="">
    <img mat-card-image id="bril" alt="" src="">
    <img mat-card-image id="haar2" alt="" src="">
    <img mat-card-image id="hoofddeksel" alt="" src="">
    <img mat-card-image id="medaille" alt="" src="">
</mat-card>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->
