<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false">
        <mean-sidenav (sidenavClose)="sidenav.close()"></mean-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mean-toolbar (sidenavToggle)="sidenav.toggle()"></mean-toolbar>

        <body>
            <div class="container-div" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">
                <div fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
                    <mat-card fxFlex="50%">
                        <mat-card-header>
                            <mat-card-title>Mijn Bubbel</mat-card-title>
                            <mean-bubble-visualisation></mean-bubble-visualisation>
                        </mat-card-header><br>
                    </mat-card>
                    <mat-card fxFlex="50%">
                        <mat-card-header>
                            <mat-card-title>Punten</mat-card-title>
                            <mat-card-subtitle>Je punten op dit moment</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <table class="UItable">
                                <tr>
                                    <th>Online (grijs): </th>
                                    <td> {{ data?.online[data?.online.length-1] }}pt </td>
                                </tr>
                                <tr>
                                    <th>Social (blauw): </th>
                                    <td> {{ data?.social[data?.social.length-1] }}pt </td>
                                </tr>
                                <tr>
                                    <th>Mainstream (groen): </th>
                                    <td> {{ data?.mainstream[data?.mainstream.length-1] }}pt </td>
                                </tr>
                                <tr>
                                    <th>Categorie 1 (rood): </th>
                                    <td> {{ data?.category1[data?.category1.length-1] }}pt </td>
                                </tr>
                                <tr>
                                    <th>Categorie 2 (blauw): </th>
                                    <td> {{ data?.category2[data?.category2.length-1] }}pt </td>
                                </tr>
                                <tr>
                                    <th>Knowledge (geel): </th>
                                    <td> {{ data?.knowledge[data?.knowledge.length-1] }}pt </td>
                                </tr>
                                <tr>
                                    <th>Techsavvyness (groen): </th>
                                    <td> {{ data?.techSavvy[data?.techSavvy.length-1] }}pt </td>
                                </tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxLayout.xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
                    <mat-card fxFlex="100%">
                        <mat-card-content>
                            <highcharts-chart class="chart" [Highcharts]="charts" [constructorType]="chartConstructor"
                                [options]="chartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                                [oneToOne]="oneToOneFlag" [runOutsideAngular]="runOutsideAngularFlag">
                            </highcharts-chart>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </body>
        <footer class="footer">
            <p> &copy; Utrecht University (ICS)</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->
