<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false">
        <mean-sidenav (sidenavClose)="sidenav.close()"></mean-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mean-toolbar (sidenavToggle)="sidenav.toggle()"></mean-toolbar>
        <body>
            <div class="containerDiv" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">

                <div fxLayout.xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
                    <mat-card fxFlex="50%">
                        <mat-card-header>
                            <mat-card-title>Mijn Bubbel</mat-card-title>
                        </mat-card-header><br>
                        <img mat-card-image
                            src="https://f1.pngfuel.com/png/724/363/759/cartoon-speech-bubble-soap-bubble-speech-balloon-pink-circle-material-property-sphere-magenta-png-clip-art.png"
                            alt="bubbel voorbeeld">
                    </mat-card>

        <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
            <mat-card fxFlex="50%">
                <mat-card-header>
                    <mat-card-title>Mijn Bubbel</mat-card-title>
                </mat-card-header><br>
                <mat-card-content>
                    <mean-bubble-visualisation></mean-bubble-visualisation>
                </mat-card-content>
            </mat-card>

                <div fxLayout.xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
                    <mat-card fxFlex="100%">
                        <mat-card-content>
                            <highcharts-chart class="chart" [Highcharts]="charts" [constructorType]="chartConstructor"
                                [options]="chartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                                [oneToOne]="oneToOneFlag" [runOutsideAngular]="runOutsideAngularFlag">
                            </highcharts-chart>
                        </mat-card-content>
                    </mat-card>
                </div>

                <button mat-button [routerLink]="'/profile'">
                    <mat-icon>keyboard_backspace</mat-icon> Terug naar profiel
                </button>
            </div>
        </body>
        <footer class="footer">
            <p> &copy; Utrecht University (ICS)</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>