<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mean-not-logged-in-toolbar></mean-not-logged-in-toolbar>
<body>
    <div class="container-div" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Nieuw wachtwoord instellen</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="example-form" [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
                    <table class="general-table">
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label>Nieuw wachtwoord</mat-label>
                                    <input matInput placeholder="Nieuw wachtwoord" formControlName="password" type="password" required>
                                    <mat-error *ngIf="passwordResetForm.get('password').hasError('required')">
                                        Wachtwoord is <strong>verplicht</strong>
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label>Herhaal nieuw wachtwoord</mat-label>
                                    <input matInput placeholder="Herhaal nieuw wachtwoord" formControlName="repeatPassword" type="password" required>
                                    <mat-error *ngIf="passwordResetForm.get('repeatPassword').hasError('noPasswordMatch')">
                                        Wachtwoorden komen niet overeen
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            Velden met een (*) zijn verplicht.
                        </tr>
                    </table>
                    <mat-card-actions>
                        <button mat-button class="general-button" type="submit" [disabled]="!passwordResetForm.valid" color="primary">Wachtwoord veranderen</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</body>
<footer class="footer">
    <p> &copy; Utrecht University (ICS)</p>
</footer>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->