<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-card [formGroup]="classCodeField">
    <mat-card-title>Word lid van een klas</mat-card-title>
    <mat-card-content class="join-class">
        <mat-form-field>
            <input type="number" matInput formControlName="classCode" [(ngModel)]="value"
                placeholder="Vul hier je klascode in">
        </mat-form-field>
        <button mat-button class="general-button" (click)="joinClass()">Toevoegen</button>
    </mat-card-content>
</mat-card>


<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->