<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<h1 mat-dialog-title>Account verwijderen</h1>
<div style="font-family: Roboto, 'Helvetica Neue', sans-serif" *ngIf="data.role == 'teacher'" mat-dialog-content>
    <p> Het verwijderen van je account zal de volgende gevolgen hebben: </p>
    <ul>
        <li> De klassen die je aangemaakt hebt zullen verwijderd worden. </li>
        <li> Alle leerlingen die deel zijn van een van de door jouw aangemaakte klassen zullen ook uit deze klassen verwijderd worden. </li>
        <li> Deze actie is <strong> niet </strong> terug te draaien. </li>
    </ul>
    <p> Weet je zeker dat je je account wilt verwijderen? </p>
</div>
<div style="font-family: Roboto, 'Helvetica Neue', sans-serif" *ngIf="data.role == 'student'" mat-dialog-content>
    <p> Weet je zeker dat je je account wilt verwijderen? </p>
    <p> Deze actie is <strong> niet </strong> terug te draaien. </p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Nope</button>
    <button style="background-color: red; color: white" mat-button (click)="deleteAccount()">Verwijder account</button>
</div>