::ng-deep .mat-simple-snackbar-action {
    color: white;
}

::ng-deep .mat-snack-bar-container {
    color: white;
    background-color: rgb(0, 160, 0);
}

.UItable {
    border-spacing: 30px 0;
}

.change-password-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
