::ng-deep .mat-simple-snackbar-action {
    color: white;
}

::ng-deep .mat-snack-bar-container {
    color: white;
    background-color: rgb(0, 160, 0);
}

.UItable td{
    text-align: center;
    display: inline-block;
}

.UItable {
    padding: 10px;
    border-spacing: 70px 0;
    margin: 10px;
}
