::ng-deep .mat-simple-snackbar-action {
    color: white;
}

::ng-deep .mat-snack-bar-container {
    color: white;
    background-color: rgb(0, 160, 0);
}

/* .bubbleIcon {
    height: 250px;
    width: 250px;
}
*/

.profileTable {
    display: inline-block;
}

.profileTable th, td {
    text-align: left;
    padding: 10px;
}

mat-card img{
    object-fit: cover; 
    width: 15%; 
    height: 15%;
}



