<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="onToggleSidenav()" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
        <img src="../../../assets/images/Super_Map/Other/logo.png" alt="">
    </button>
    <div class="nav-items" fxHide.lt-md>
        <a mat-button [routerLink]="'/home'" fxFlex="20"> Anti-Bubble <img src="../../../assets/images/Super_Map/Other/logo.png" alt=""> </a>
        <a mat-button [routerLink]="'/home'" fxFlex="20" fxFlexOffset="20"> Home </a>
        <a mat-button [routerLink]="'/teacher-overview'" *ngIf="userDetails?.role == 'teacher'" fxFlex="20"> Klas overzicht </a>
        <a mat-button [routerLink]="'/class-overview'" *ngIf="userDetails?.role == 'student'" fxFlex="20"> Klas overzicht </a>
        <a mat-button [routerLink]="'/profile'" fxFlex="20"> Profiel </a>
        <button mat-button (click)="logoutButton()" fxFlex="20" fxFlexOffset="20"> Log uit </button>
    </div>
</mat-toolbar>