#receiveQuestion {
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
}

#teammates {
    margin-top: 10px;
    display: inline-block;
}

ul {
    list-style-type: none;
}

li {
    position: inline-block; 
};