/*
 * This program has been developed by students from the bachelor Computer Science at Utrecht University
 * within the Software Project course. © Copyright Utrecht University (Department of Information and
 * Computing Sciences)
 */

#receiveQuestion {
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
}

.teammates ul {
    margin-top: 0;
    display: inline-block;
}

ul {
    padding-left: 10px;
}

#article {
    width: 250px;
    height: 250px;
}
