<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<!-- This page represents an activity during a session on the students' devices. -->
<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false">
        <mean-sidenav (sidenavClose)="sidenav.close()"></mean-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mean-toolbar (sidenavToggle)="sidenav.toggle()"></mean-toolbar>

        <body>
            <div class="container-div" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">
                <div fxLayout.xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
                    <mat-card fxFlex="100%">
                        <mat-card-header>
                            <mat-card-title  >{{ gameData?.game.name }}</mat-card-title>
                        </mat-card-header>

                        <mat-card-content *ngIf="gameData?.game.name == 'Naamloos Nieuws'">
                            {{ gameData?.game.description }}
                            <div class="article"></div>
                            <mat-form-field *ngIf="!isLeader">
                                <mat-label>Teams</mat-label>
                                <mat-select [(value)]="selected">
                                    <mat-option *ngFor="let leader of leaders" value="{{ leader.email }}">{{ leader.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-button class="general-button" [disabled]="selected == undefined || submitted"
                                *ngIf="!isLeader" (click)="submit({ article: article })">Verstuur</button>
                        </mat-card-content>

                        <mat-card-content *ngIf="gameData?.game.name == 'Botsende Bubbels'">
                            {{ gameData?.game.description }}<br>
                            <p><i>Wacht op het onderwerp van de docent:</i></p>
                            <p id="receiveQuestion"></p><br>

                            <div *ngIf="enableAnswer" class="teammates">Je mag zoeken op de volgende platforms:<br><br>
                                <ul>
                                    <li>Facebook</li>
                                    <li>Instagram</li>
                                    <li>NOS.nl</li>
                                    <li>Telegraaf.nl</li>
                                    <li>Reddit</li>
                                </ul>
                            </div>
                            <mean-answer-form *ngIf="enableAnswer"></mean-answer-form>
                        </mat-card-content>

                        <mat-card-content *ngIf="gameData?.game.name == 'Alternatieve Antwoorden'">
                            {{ gameData?.game.description }}<br>
                            <p *ngIf="team != undefined && team.length != 0"> Je zit in een team met:</p>

                            <div class="teammates">
                                <ul>
                                    <li *ngFor="let teamMember of team">
                                        {{ teamMember.name }}
                                    </li>
                                </ul>
                            </div>
                            <p><i>Wacht op de vraag van de docent:</i></p>
                            <!-- <p class="receiveQuestion"></p> -->
                            <mean-answer-form *ngIf="enableAnswer"></mean-answer-form>
                        </mat-card-content>

                        <mat-card-content *ngIf="gameData?.game.name == 'Aanradend Algoritme'">
                            {{ gameData?.game.description }}
                        </mat-card-content>

                    </mat-card>
                </div>
            </div>
        </body>
        <footer class="footer">
            <p> &copy; Utrecht University (ICS)</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
<mean-nav-bar></mean-nav-bar>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->