<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<h1 mat-dialog-title>Huidige klas verwijderen</h1>
<div style="font-family: Roboto, 'Helvetica Neue', sans-serif" mat-dialog-content>
    <p> Het verwijderen van <strong>{{ data.klas.title }}</strong> zal de volgende gevolgen hebben: </p>
    <ul>
        <li> Alle leerlingen die deel zijn van de klas zullen ook uit deze klas verwijderd worden.</li>
        <li> Deze actie is <strong>niet</strong> terug te draaien.</li>
    </ul>
    <p> Weet je zeker dat je <strong>{{ data.klas.title }}</strong> wilt verwijderen? </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Nope</button>
    <button style="background-color: red; color: white" mat-button (click)="deleteClass()">Verwijder huidige klas</button>
</div>