<mean-nav-bar></mean-nav-bar>

<body>
    <div class="containerDiv" fxLayoutGap="0.5%" fxLayout="column" fxLayoutAlign="space-evenly">
        <div fxLayout.xs="row" fxLayoutGap="0.5%" fxLayoutAlign="space-evenly">
            <mat-card fxFlex="100%">
                <mat-card-header>
                    <mat-card-title class="welcomeHeader">Welkom!</mat-card-title>
                    <mat-card-subtitle>
                        Breaking Bubbles is een online webpagina waar leerlingen zich bewust kunnen worden van hun
                        filterbubbel. Lolrofllmao<br>
                        Dit wordt bereikt door middel van lessen die in de klas met de docent(e) worden afgenomen.
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</body>
<footer>
    <p> &copy; Utrecht University (ICS)</p>
</footer>