<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false">
        <mean-sidenav (sidenavClose)="sidenav.close()"></mean-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mean-toolbar (sidenavToggle)="sidenav.toggle()"></mean-toolbar>
        <body>
            <div class="container-div" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">
                <div fxLayout.xs="row" fxLayoutGap="10px" fxLayoutAlign="space-evenly">
                    <mat-card fxFlex="100%">
                        <mat-card-header *ngIf="currentClass == undefined">
                            <mat-card-title  >Klas overzicht</mat-card-title>
                            <button class="general-button" mat-button (click)="onClickOpenForm()">Maak een nieuwe klas aan</button>
                        </mat-card-header>
                        <mat-card-header *ngIf="currentClass">
                            <mat-card-title> Klas overzicht </mat-card-title>
                            <mat-card-subtitle>
                                Overzicht van alle spelers van klas {{ currentClass?.title }}, code: {{ currentClass?.code }}.
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div *ngIf="userDetails?.class.length > 0">
                                <button mat-button class="general-button" [disabled]="loading" (click)="onClickSelectKlas()">Verander van klas</button>
                                <div [hidden]="!selectklas">
                                    <div>
                                        <mat-button-toggle-group #group="matButtonToggleGroup">
                                            <div *ngFor="let klas of names">
                                                <mat-button-toggle (click)="switchClass(klas.id)">{{ klas.title }}</mat-button-toggle>
                                            </div>
                                        </mat-button-toggle-group>
                                    </div>
                                    <div>
                                        <button class="general-button" mat-button (click)="onClickOpenForm()">Maak een nieuwe klas aan</button>
                                    </div>
                                </div>
                            </div>
                            <table *ngIf="currentClass?.students?.length > 0" class="general-table">
                                <tr>
                                    <th>Naam</th>
                                    <th></th>
                                </tr>
                                <tr *ngFor="let classmate of classmates">
                                    <td>{{ classmate.firstName }}</td>
                                    <td><a mat-button class="general-link" [routerLink]="'/classmate-profile/' + classmate._id">Bekijk Profiel</a></td>
                                </tr>
                            </table>
                            <p class="no-students-header" *ngIf="currentClass?.students?.length == 0 || currentClass == undefined">De klas heeft nog geen leerlingen</p>
                        </mat-card-content>
                        <form [hidden]="!openform" name="classForm" class="example-form" [formGroup]="classForm"
                            (ngSubmit)="createClass()">
                            <table class="general-table">
                                <tr>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Klassennaam</mat-label>
                                            <input matInput placeholder="klassennaam" formControlName="classTitle" required>
                                            <mat-error *ngIf="classForm.get('classTitle').hasError('required')">
                                                Klassennaam is <strong>verplicht</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Jaar</mat-label>
                                            <input matInput placeholder="Jaar" formControlName="classYear" required>
                                            <mat-error *ngIf="classForm.get('classYear').hasError('required')">
                                                Jaar is <strong>verplicht</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-label>Niveau:*</mat-label>
                                        <mat-radio-group class="role-radio-group" formControlName="classLevel">
                                            <mat-radio-button class="role-radio-button" value="VMBO" color="primary">VMBO
                                            </mat-radio-button>
                                            <mat-radio-button class="role-radio-button" value="HAVO" color="primary">HAVO
                                            </mat-radio-button>
                                            <mat-radio-button class="role-radio-button" value="VWO" color="primary">VWO
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </td>
                                </tr>
                            </table>
                            <mat-card-actions>
                                <button class="general-button" mat-button type="submit" [disabled]="!classForm.valid">Aanmaken</button>
                            </mat-card-actions>
                        </form>
                    </mat-card>
                </div>
            </div>
        </body>
        <footer class="footer">
            <p> &copy; Utrecht University (ICS)</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->