/*
 * This program has been developed by students from the bachelor Computer Science at Utrecht University
 * within the Software Project course. © Copyright Utrecht University (Department of Information and
 * Computing Sciences)
 */

.role-radio-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.role-radio-button {
    margin: 5px;
}

.no-students-header {
    padding-top: 10px;
}
/** This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  */
