/*!
 * This program has been developed by students from the bachelor Computer Science at Utrecht University
 * within the Software Project course. © Copyright Utrecht University (Department of Information and
 * Computing Sciences)
 */

@import '~@angular/material/theming';
@include mat-core();

$custom-typography: mat-typography-config($font-family: '"Fredoka One", cursive;');

$darkest-pink: (
    50 : #fff5f6,
    100 : #ffe5e7,
    200 : #ffd4d8,
    300 : #ffc3c8,
    400 : #ffb6bc,
    500 : #ffa9b0,
    600 : #ffa2a9,
    700 : #ff98a0,
    800 : #ff8f97,
    900 : #ff7e87,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$dark-pink: (
    50: #ffffff,
    100: #fff9f8,
    200: #fde5e1,
    300: #fbd1c9,
    400: #fabdb1,
    500: #f8a999,
    600: #f69581,
    700: #f58169,
    800: #f36d51,
    900: #f1583a,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #f04422,
contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

  $medium-pink: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #fef5f6,
    400: #fddde1,
    500: #fbc5cc,
    600: #f9adb7,
    700: #f895a2,
    800: #f67d8d,
    900: #f46678,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #f34e63,
contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

  $light-pink: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #fdf0e8,
    500: #fbe0d0,
    600: #f9d0b8,
    700: #f7c1a1,
    800: #f5b189,
    900: #f3a272,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #f1925a,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

  $yellow: (
    50: #ffffff,
    100: #ffffff,
    200: #fffcf3,
    300: #fef7da,
    400: #fdf1c2,
    500: #fceca9,
    600: #fbe790,
    700: #fae178,
    800: #f9dc5f,
    900: #f9d646,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #f8d12e,
contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

  $green: (
    50: #e7f6ea,
    100: #d4efda,
    200: #c2e8cb,
    300: #afe1bb,
    400: #9ddaab,
    500: #8ad39b,
    600: #77cc8b,
    700: #65c57b,
    800: #52be6b,
    900: #44b35e,
    A100: #f9fdfa,
    A200: #ffffff,
    A400: #ffffff,
    A700: #3da154,
contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$light-blue: (
    50: #ffffff,
    100: #f4fafa,
    200: #e2f2f2,
    300: #d0eaeb,
    400: #bfe2e3,
    500: #addadb,
    600: #9bd2d3,
    700: #8acacb,
    800: #78c2c4,
    900: #66babc,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #54b2b4,
contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

  $medium-blue: (
    50: #e2ebef,
    100: #d1e0e6,
    200: #c1d5dd,
    300: #b0c9d4,
    400: #9fbecb,
    500: #8fb3c2,
    600: #7ea8b9,
    700: #6e9db0,
    800: #5d91a7,
    900: #538498,
    A100: #f2f6f8,
    A200: #ffffff,
    A400: #ffffff,
    A700: #4a7588,
contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

  $dark-blue: (
    50: #7c99b0,
    100: #6c8da7,
    200: #5e809c,
    300: #54738c,
    400: #4b667c,
    500: #41596c,
    600: #374c5c,
    700: #2e3f4c,
    800: #24323c,
    900: #1b252c,
    A100: #8ca6ba,
    A200: #9cb2c3,
    A400: #acbecd,
    A700: #11171c,
contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

  $vibrant-red: (
    50 : #fbedeb,
    100 : #f5d3cd,
    200 : #eeb6ac,
    300 : #e7998b,
    400 : #e28372,
    500 : #dd6d59,
    600 : #d96551,
    700 : #d45a48,
    800 : #cf503e,
    900 : #c73e2e,
    A100 : #ffffff,
    A200 : #ffdad6,
    A400 : #ffaca3,
    A700 : #ff958a,
    contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    )
);

    $md-bloodsun: (
    50 : #fffdfe,
    100 : #fffbfb,
    200 : #fff9f9,
    300 : #fff6f7,
    400 : #fff4f5,
    500 : #fff2f3,
    600 : #fff0f1,
    700 : #ffeeef,
    800 : #ffeced,
    900 : #ffe8ea,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$aqua: (
    50 : #f2f9f9,
    100 : #ddf1f1,
    200 : #c7e7e8,
    300 : #b1dddf,
    400 : #a0d6d8,
    500 : #8fcfd1,
    600 : #87cacc,
    700 : #7cc3c6,
    800 : #72bdc0,
    900 : #60b2b5,
    A100 : #ffffff,
    A200 : #effeff,
    A400 : #bcfdff,
    A700 : #a2fcff,
    contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    )
);

$md-crimson: (
    50 : #f6ebe9,
    100 : #e9cdc9,
    200 : #dbaca5,
    300 : #cd8a81,
    400 : #c27166,
    500 : #b7584b,
    600 : #b05044,
    700 : #a7473b,
    800 : #9f3d33,
    900 : #902d23,
    A100 : #ffd2cf,
    A200 : #ffa39c,
    A400 : #ff7469,
    A700 : #ff5c4f,
    contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    )
);

// below creates a primary palette with three shades of blue
// $my-primary: mat-palette($my-blue, 100, 50, 200);

$my-custom-primary: mat-palette($md-crimson, 700, 300, 700);
$my-custom-accent: mat-palette($aqua, 500, 100, 700);
$my-custom-warn: mat-palette($dark-pink);
$my-custom-foreground: mat-palette($green, 500, 300, 700);
$my-custom-background: mat-palette($light-pink, 500, 300, 700);

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
// $alt-theme: mat-light-theme($my-custom-primary, $my-custom-primary, $my-custom-primary);

@include angular-material-theme($my-custom-theme);

$alt-primary: mat-palette($dark-blue, 500, 300, 700);
$alt-accent: mat-palette($medium-pink, 500, 100, 700);
$alt-warn: mat-palette($dark-pink);

$alt-theme: mat-dark-theme($alt-primary, $alt-accent, $alt-warn);

.alternative {
  // @include angular-material-theme($alt-theme);
  @include mat-button-theme($alt-theme);
}

// .alternative {
//   @include mat-button-theme($alt-theme);
//   @include mat-card-theme($alt-theme);
// }

/** This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  */