<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false">
        <mean-sidenav (sidenavClose)="sidenav.close()"></mean-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mean-toolbar (sidenavToggle)="sidenav.toggle()"></mean-toolbar>
        <body>
            <div class="container-div" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">
                <mat-card *ngIf="userClass?.title">
                    <mat-card-header>
                        <mat-card-title> Klas overzicht </mat-card-title>
                        <mat-card-subtitle>
                            Overzicht van alle spelers van klas {{ userClass?.title }}.
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>

                <mat-card *ngIf="userClass?.title">
                    <mat-card-content>
                        <table class="general-table" id="table">
                            <tr>
                                <th>Naam</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let classmate of classmates">
                                <td>{{ classmate.firstName }}</td>
                                <td *ngIf="classmate._id === userDetails._id"><a mat-button class="general-link" [routerLink]="'/profile/'" > Bekijk Profiel </a></td>
                                <td *ngIf="classmate._id !== userDetails._id"><a mat-button class="general-link" [routerLink]="'/classmate-profile/' + classmate._id" > Bekijk Profiel </a></td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card *ngIf="userClass?.title">
                    <mat-card-header>
                        <mat-card-title>Zoek klasgenoot</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="searchForm">
                            <mat-form-field class="classmate-search">
                                <input type="text" matInput formControlName="query" placeholder="Zoek hier">
                                <button type="reset" mat-button mat-icon-button matSuffix *ngIf="searchForm.get('query').value" (click)="clear()"><mat-icon>close</mat-icon></button>
                            </mat-form-field>
                            <button mat-button type="submit" class="general-button" (click)="search()"><mat-icon>search</mat-icon></button>
                        </form>
                    </mat-card-content>
                </mat-card>

                <mat-card *ngIf="userClass?.title">
                    <button mat-button class="leave-button" (click)="openLeaveClassDialog()">Verlaat klas</button>
                </mat-card>

                <div *ngIf="userClass?.title == undefined">
                    <mean-join-class></mean-join-class>
                </div>
            </div>
        </body>
        <footer class="footer">
            <p> &copy; Utrecht University (ICS)</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
