<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<mat-sidenav-container>
    <mat-sidenav #sidenav [autoFocus]="false">
        <mean-sidenav (sidenavClose)="sidenav.close()"></mean-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mean-toolbar (sidenavToggle)="sidenav.toggle()"></mean-toolbar>
        <body>
            <div class="container-div" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-evenly">
                <mat-card *ngIf="userClassTitle">
                    <mat-card-header>
                        <mat-card-title> Klas overzicht </mat-card-title>
                        <mat-card-subtitle>
                            Overzicht van alle spelers van klas {{ userClassTitle }}.
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>

                <mat-card *ngIf="userClassTitle">
                    <mat-card-content>
                        <table class="general-table" id="table">
                            <tr>
                                <th>Naam</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let classmate of classmates">
                                <td>{{ classmate.firstName }}</td>
                                <td><a mat-button class="general-link" [routerLink]="'/classmate-profile/' + classmate._id" > Bekijk Profiel </a></td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card [formGroup]="searchBar" *ngIf="userClassTitle">
                    <mat-card-header>
                        <mat-card-title>Zoek klasgenoot</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field class="classmate-search">
                            <input type="text" matInput formControlName="query" [(ngModel)]="value" placeholder="Zoek hier" (keydown.enter)="search()">
                        </mat-form-field>
                        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()"><mat-icon>close</mat-icon></button>
                        <button mat-button class="general-button" (click)="search()"><mat-icon>search</mat-icon></button>
                    </mat-card-content>
                </mat-card>

                <div *ngIf="userClassTitle == undefined">
                    <mean-join-class></mean-join-class>
                </div>
            </div>
        </body>
        <footer class="footer">
            <p> &copy; Utrecht University (ICS)</p>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  -->
