<mean-nav-bar></mean-nav-bar>

<body>
    <div class="containerDiv" fxLayoutGap="0.5%" fxLayout="column" fxLayoutAlign="space-evenly">
        <mat-card>
            <mat-card-header>
                <mat-card-title> Klassen Overzicht </mat-card-title>
                <mat-card-subtitle>
                    Overzicht van alle spelers van klas [klasnaam].
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <table class="UItable">
                    <tr>
                        <th>Naam</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>{{ userDetails?.firstName }}</td>
                        <td>Online</td>
                        <td><button mat-button [routerLink]="'/classmateProfile'" class="abutton"> Bekijk Profiel </button></td>
                    </tr>
                    <tr>
                        <td>[Naam 2]</td>
                        <td>Offline</td>
                        <td><button mat-button>Bekijk profiel</button></td>
                    </tr>
                    <tr>
                        <td>[Naam 3]</td>
                        <td>Offline</td>
                        <td><button mat-button>Bekijk profiel</button></td>
                    </tr>
                    <tr>
                        <td>[Naam 4]</td>
                        <td>Online</td>
                        <td><button mat-button>Bekijk profiel</button></td>
                    </tr>
                    <tr>
                        <td>[Naam 5]</td>
                        <td>Offline</td>
                        <td><button mat-button>Bekijk profiel</button></td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>

        <mat-card class="searchBar">
            <mat-card-header>
                <mat-card-title>Zoek klasgenoot</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Zoek hier">
                </mat-form-field>
                <button mat-button>Go</button>
                <!-- <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Klas tonen
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table class="UItable">
                            <tr>
                                <th>Voornaam</th>
                                <th>Achternaam</th>
                            </tr>
                            <tr>
                                <td>Klasgenoot</td>
                                <td>1</td>
                            </tr>
                        </table>
                    </mat-expansion-panel>
                </mat-accordion> -->
            </mat-card-content>
        </mat-card>
    </div>
</body>

<footer>
    <p> &copy; Utrecht University (ICS)</p>
</footer>