<!--
  ~ This program has been developed by students from the bachelor Computer Science at Utrecht University
  ~ within the Software Project course. © Copyright Utrecht University (Department of Information and
  ~ Computing Sciences)
  -->

<h1 mat-dialog-title>Huidige klas verlaten</h1>
<div style="font-family: Roboto, 'Helvetica Neue', sans-serif" mat-dialog-content>
    <p> Weet je zeker dat je de klas <strong>{{ data.classTitle }}</strong> wilt verlaten? </p>
    <p> Deze actie is <strong>niet</strong> terug te draaien. </p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Nope</button>
    <button style="background-color: red; color: white" mat-button (click)="leaveClass()">Verlaat klas</button>
</div>