/*
 * This program has been developed by students from the bachelor Computer Science at Utrecht University
 * within the Software Project course. © Copyright Utrecht University (Department of Information and
 * Computing Sciences)
 */

mat-panel-title {
    justify-content: center;
    margin-left: 16px;  /*the toggle arrow takes up exactly 16px of margin on the right side, this evens it out and centers the title.*/
    font-weight: bold;
}

.session-options-table td{
    width: 50%;
}

.session-options-table th{
    text-align: center;
    width: 10%;
}

.session-options-table {
    margin: 10px;
    display: inline-block;
    width: 75%;
    border-collapse: collapse;
    border: 1px solid black;
}

.slideBar {
    width: 75%;
}

.team-option-button {
    display: block;
    padding: 5px;
}

/** This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software Project course. © Copyright Utrecht University (Department of Information and Computing Sciences)  */

