<!DOCTYPE html>
<html>

    <head>

    <title>Home pagina</title>

    </head>
    <body>
        <div class="bodyDiv">
        <input type="button" id="logoutButton" (click)="logoutButton()" value="Log uit">

        <h1>Breaking Bubbles</h1>  
        <h5>Breaking Bubbles is een online webpagina waar leerlingen zich bewust kunnen worden van hun filterbubbel.<br>
        Dit wordt bereikt door middel van lessen die in de klas met de docent(e) worden afgenomen.</h5> 

        <nav id="navBar">
            <a href="/home">Home</a>
            <a href="/home">Linkjes</a>
            <a href="/home">Naar</a>
            <a href="/home">Niks</a>
            <a href="profile">Profiel</a>
        </nav>  

        <br>    
        
        <section id="mainText">
            Klik op de knop hieronder om een nieuwe sessie te beginnen. <br>
            Dit werkt totaal nog niet though. <br>
        
            <button id="sessionButton" onclick="alert('Sessie begonnen')">
                Start nieuwe sessie!
            </button>

        </section>

        <img class="bubbleIcon" id="iconLeft" src="../../favicon.ico" alt="Bubbles Logo">
        <img class="bubbleIcon" id="iconRight" src="../../favicon.ico" alt="Bubbles Logo">
        
        <br>

        <section id="secondPart">
            Hier staat nog wat tekst. <br>
            Super leuk toch!
        </section>

    </div>
    </body>



</html>